<h1>Add Clients for <%= @this_stylist.name %> </h1>


<form action="add_client" method="post">
  <div class="form-group">
    <label for="new_client">Add a client to this stylist.</label>
    <input type="text" name="new_client" value="">
  </div>
  <div class="form-group">
    <input type="hidden" name="chosen_stylist" value="<%= @this_stylist.id %>">
  </div>
  <button class="move_right" type="submit">Add</button>
</form>

<div class="well">
<ul>
  <%if @has_clients %>
    <% @has_clients.each() do |client| %>
    <li><%= client.name %> </li>
    <% end %>
  <% end %>
</ul>

</div>




<form action="/" method="get">
  <button class="btn" type="submit">Back to Home</button>
</form>
